<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Makaut Result | Wbut Result | Class Rank" />
    <meta property="og:url" content="https://makautresult.in" />
    <meta property="og:type" content="Makaut Result" />
    <meta property="og:description" content="Makaut Result, Wbut Result, Makaut Results by class, Check Your Class Rank" />
    {% block extra_head_tags %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163126873-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-163126873-1');
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extra_head_after %}{% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'wbut:home' %}">MAKAUT RESULTS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'wbut:home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'wbut:timeTable' %}">Time Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'wbut:colleges' %}">Colleges</a>
            </li>

        </ul>

    </div>
</nav>


{% block content %}

{% endblock %}
<!-- Footer -->
<footer class="page-footer bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <a href="{% url 'wbut:contactUs' %}">Contact Us</a>&nbsp;&nbsp;
                <a href="{% url 'wbut:aboutUs' %}">About Us</a>&nbsp;&nbsp;
                <a href="{% url 'wbut:privacyPolicy' %}">Privacy Policy</a>
            </div>
        </div>
    </div>


</footer>
<!-- Footer -->
{% block extra_script %}
{% endblock %}
</body>
</html>