{% extends 'wbut/base.html' %}
{% block extra_head_tags %}
    <title>Class Result</title>
{% endblock %}
{% block content %}
<div class="container">
		<div class="table-responsive">
		<table class="table table-hover css-serial">
			<tr class="bg-dark text-center">
				<th colspan="6" style="color:white;">CLASS RESULT</td>
			</tr>
			<tr class="bg-primary text-center">
				<th colspan="6" style="color:white;">SEMESTER : {{ semester }}</th>
			</tr>
			<tr>
				<th>#</th>
				<th>Name</th>
                <th>Roll No</th>
				<th>SGPA</th>
			</tr>
			{% for result in results %}
			<tr>
                <td></td>
				<td><a href="{% url 'wbut:viewResult' result.basicDetails_id semester %}">{{ result.basicDetails.name }}</a></td>
				<td>{{ result.basicDetails_id }}</td>
				<td>{{ result.cgpa }}</td>

			</tr>
			{% endfor %}

		</table>
			</div>
	</div>
	{% endblock %}
