{% extends 'wbut/base.html' %}
{% block extra_head_tags %}
    <title>Colleges Under Makaut</title>
    <meta name="description" content="List of all the colleges in west bengal with college codes affiliated under makaut" />
    <meta name="keywords" content="makaut colleges, wbut colleges, makaut college code" />

{% endblock %}
{% block content %}
<div class="container">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br />
<table class="table table-hover" id="myTable" >
			<tr class="bg-dark">
				<th style="color:white;">College Name</th>
                <th style="color:white;float:right;">College Code</th>
			</tr>
            {% for college in colleges %}
                <tr>
                    <td>{{ college.collegeName }}</td>
                    <td style="float:right">{{ college.collegeCode }}</td>
                </tr>
            {% endfor %}
</table>
</div>
{% endblock %}
{% block extra_script %}
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}