<!DOCTYPE html>
{% extends 'wbut/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    Time Table Not Found</h2>
                <div class="error-details">
                    Time Table has not been announced for {{ scheme }} scheme for semester {{ semester }}

                </div>
                <div class="error-actions">
                    <a href="{% url 'wbut:home' %}" class="btn btn-primary btn-lg"><span
                            class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
