{% extends 'wbut/base.html' %}
{% block extra_head_tags %}
    <title>Makaut Time Table</title>
{% endblock %}
{% block content %}
<div class="container">
	<div class="d-none d-sm-block">
		<div class="table-responsive">
			<table class="table table-hover">
				<tr class="bg-dark">
					<th colspan="6" style="color:white;" class="text-center">STREAM : {{ scheme }}
					</th>
				</tr>
				<tr style="background: lightgray;">
					<th colspan="6" style="color:white; background: blue;" class="text-center">SEMESTER : {{ semester }}</th>

				</tr>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Subject Code</th>
					<th>Subject Name</th>
				</tr>
				{% for details in timeTable %}
				<tr>
					<td>{{ details.date }}</td>
					<td>{{ details.time }}</td>
					<td>{{ details.subject_code }}</td>
					<td>{{ details.subject_name }}</td>
				</tr>
				{% endfor %}
			</table>

		</div>
		<div class="row mb-2 text-center" style="height:40px;color: white;">
			<div class="col">
				<a href="{% url 'wbut:downloadTimeTable' scheme semester %}">
                            <button class="btn btn-success"style="width:50%">Download Time Table</button>
                        </a>
			</div>
		</div>
	</div>

	<div class="d-block d-sm-none">
		<div class="row mb-2 bg-dark text-center" style="height:40px; justify-content: center;align-content: center;color: white;">
			<div class="col">
				STREAM : &nbsp;{{ scheme }}
			</div>
		</div>
		<div class="row mb-2 bg-primary text-center" style="height:40px; justify-content: center;align-content: center;color: white;">
			<div class="col">
				SEMESTER : {{ semester }}
			</div>
		</div>
		{% for details in timeTable %}
		<div class="card-body">
			<div class="row mb-1 text-center">
				<div class="col"><span class="text-muted">{{ details.subject_code }}</span>&nbsp;&nbsp;
					{{ details.subject_name }}
				</div>
			</div>
			<hr class="mt-0 mb-0">
			<div class="row mb-1 text-center">
				<div class="col column">
					<small class="text-muted">Date</small><br/>
					{{ details.date }}
				</div>
				<div class="col column3">
					<small class="text-muted">Time</small><br/>
					{{ details.time }}
				</div>
			</div>

		</div>
		{% endfor %}
		<div class="row mb-2 text-center" style="height:40px; justify-content: center;align-content: center;color: white;">
			<div class="col">
				<a href="{% url 'wbut:downloadTimeTable' scheme semester %}">
                            <button class="btn btn-success"style="width:100%">Download Time Table</button>
                        </a>
			</div>
		</div>

	</div>
</div>
{% endblock %}
	