{% extends 'wbut/base.html' %}
{% load static %}
{% block extra_head_tags %}
    <title>Time Table</title>
{% endblock %}
{% block extra_head_after %}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script>
        $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
    </script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="form-container">

                <h4>MAKAUT Time Table</h4>
                <p class="mb-10">Select Your Stream & Semester</p>
                <form class="result-form" method="POST">
                    {% csrf_token %}

                    <div class="form-group">

                                <select class="form-control js-example-basic-single"
                                        name="STREAM">
                                    <option selected="selected" value="">Select Stream</option>
                                    <option value="092-M.Phill in Management">092-M.Phill in Management</option>
                                    <option value="093-MHA(NEW)">093-MHA(NEW)</option>
                                    <option value="093-MHA(OLD)">093-MHA(OLD)</option>
                                    <option value="104-M.Tech (ECE - VLSI Design)(NEW)">104-M.Tech (ECE - VLSI
                                        Design)(NEW)
                                    </option>
                                    <option value="105-M.Tech (ECE - Comm)(NEW)">105-M.Tech (ECE - Comm)(NEW)</option>
                                    <option value="108-M.Tech. (LT)(NEW)">108-M.Tech. (LT)(NEW)</option>
                                    <option value="110-M.Tech. (BT)(NEW)">110-M.Tech. (BT)(NEW)</option>
                                    <option value="111-M.Tech. (ChE)(NEW)">111-M.Tech. (ChE)(NEW)</option>
                                    <option value="112-M.Tech. (CSE)(NEW)">112-M.Tech. (CSE)(NEW)</option>
                                    <option value="112-M.Tech. (CSE)(OLD)">112-M.Tech. (CSE)(OLD)</option>
                                    <option value="114-M.Tech. (IT)(NEW)">114-M.Tech. (IT)(NEW)</option>
                                    <option value="116-M.Tech. (CE - Geo)(NEW)">116-M.Tech. (CE - Geo)(NEW)</option>
                                    <option value="117-M.Tech. (CE - Structural)(NEW)">117-M.Tech. (CE -
                                        Structural)(NEW)
                                    </option>
                                    <option value="120-M.Tech (CIE)(NEW)">120-M.Tech (CIE)(NEW)</option>
                                    <option value="122-M.Tech (MT)(NEW)">122-M.Tech (MT)(NEW)</option>
                                    <option value="123-M.Tech (Mechatronics)(NEW)">123-M.Tech (Mechatronics)(NEW)
                                    </option>
                                    <option value="124-M.Tech. (ME)(NEW)">124-M.Tech. (ME)(NEW)</option>
                                    <option value="125-M.Tech (PE)(NEW)">125-M.Tech (PE)(NEW)</option>
                                    <option value="127-M.Tech (MSS)(NEW)">127-M.Tech (MSS)(NEW)</option>
                                    <option value="128-M.Tech (FT)(NEW)">128-M.Tech (FT)(NEW)</option>
                                    <option value="129-M.Tech. (TE)(NEW)">129-M.Tech. (TE)(NEW)</option>
                                    <option value="133-M.Tech. (EE - PS)(NEW)">133-M.Tech. (EE - PS)(NEW)</option>
                                    <option value="134-M.Tech. (EE - PS)(New)">134-M.Tech. (EE - PS)(New)</option>
                                    <option value="138-M.Tech (EE - PE)(NEW)">138-M.Tech (EE - PE)(NEW)</option>
                                    <option value="147-M.Tech. (TE)(NEW)">147-M.Tech. (TE)(NEW)</option>
                                    <option value="151-M.Tech Mech Eng. Des(NEW)">151-M.Tech Mech Eng. Des(NEW)</option>
                                    <option value="152-M.Tech Elect.M/c &amp; Drives(NEW)">152-M.Tech Elect.M/c &amp;
                                        Drives(NEW)
                                    </option>
                                    <option value="170-M.Sc (Info. Sc.)(NEW)">170-M.Sc (Info. Sc.)(NEW)</option>
                                    <option value="201-M.Pharm (Chemistry)(NEW)">201-M.Pharm (Chemistry)(NEW)</option>
                                    <option value="202-M.Pharm. (Pharmacology)(NEW)">202-M.Pharm. (Pharmacology)(NEW)
                                    </option>
                                    <option value="203-M.Pharm. (Pharmaceutics)(NEW)">203-M.Pharm.
                                        (Pharmaceutics)(NEW)
                                    </option>
                                    <option value="208-M.Pharm (Pharmacology)(OLD)">208-M.Pharm (Pharmacology)(OLD)
                                    </option>
                                    <option value="209-M.Pharm(Pharma Biotech)(NEW)">209-M.Pharm(Pharma Biotech)(NEW)
                                    </option>
                                    <option value="433-M.Tech (EE - C&amp;A)(NEW)">433-M.Tech (EE - C&amp;A)(NEW)
                                    </option>
                                    <option value="581-M.Sc (Data Analytics)(NEW)">581-M.Sc (Data Analytics)(NEW)
                                    </option>
                                    <option value="584-M.Sc (Film Making)(NEW)">584-M.Sc (Film Making)(NEW)</option>
                                    <option value="624-M.Tech. (ME)(NEW)">624-M.Tech. (ME)(NEW)</option>
                                    <option value="633-M.Tech (EE - EDPS)(NEW)">633-M.Tech (EE - EDPS)(NEW)</option>
                                    <option value="705-M.Tech ECE(NEW)">705-M.Tech ECE(NEW)</option>
                                    <option value="803-M. Optm(NEW)">803-M. Optm(NEW)</option>
                                    <option value="804-M Pub H(NEW)">804-M Pub H(NEW)</option>
                                    <option value="805-MTTM(NEW)">805-MTTM(NEW)</option>
                                    <option value="852-M.Sc(Microbiology)(NEW)">852-M.Sc(Microbiology)(NEW)</option>
                                    <option value="892-M.Sc. (Biotech)(OLD)">892-M.Sc. (Biotech)(OLD)</option>
                                    <option value="980-M.Sc (Diet &amp; Nutri)(NEW)">980-M.Sc (Diet &amp; Nutri)(NEW)
                                    </option>
                                    <option value="981-M.Sc (Data Sc)(NEW)">981-M.Sc (Data Sc)(NEW)</option>
                                    <option value="982-M.Sc (Clinical Psy)(NEW)">982-M.Sc (Clinical Psy)(NEW)</option>
                                    <option value="983-M.Sc (HSPM)(NEW)">983-M.Sc (HSPM)(NEW)</option>
                                    <option value="984-M.Sc (Digital Film)(NEW)">984-M.Sc (Digital Film)(NEW)</option>
                                    <option value="985-M.Sc (Fashion Mgmt)(NEW)">985-M.Sc (Fashion Mgmt)(NEW)</option>
                                    <option value="986-M.Sc (Visual Comn)(NEW)">986-M.Sc (Visual Comn)(NEW)</option>
                                    <option value="987-MSc(Information &amp; Cyber Security)(NEW)">987-MSc(Information
                                        &amp; Cyber Security)(NEW)
                                    </option>
                                    <option value="990-M.Sc (CSE)(NEW)">990-M.Sc (CSE)(NEW)</option>
                                    <option value="991-M.Sc (Applied Math)(NEW)">991-M.Sc (Applied Math)(NEW)</option>
                                    <option value="992-M.Sc. (Biotech)(NEW)">992-M.Sc. (Biotech)(NEW)</option>
                                    <option value="993-M.Sc. (Genetics)(NEW)">993-M.Sc. (Genetics)(NEW)</option>
                                    <option value="996-M.Sc (Media Sc.)(NEW)">996-M.Sc (Media Sc.)(NEW)</option>
                                    <option value="998-M.Tech (Heat Power)(NEW)">998-M.Tech (Heat Power)(NEW)</option>
                                    <option value="AEIE (New)">AEIE (New)</option>
                                    <option value="AEIE (Old)">AEIE (Old)</option>
                                    <option value="APM (New)">APM (New)</option>
                                    <option value="APM (Old)">APM (Old)</option>
                                    <option value="AUE (New)">AUE (New)</option>
                                    <option value="AUE (Old)">AUE (Old)</option>
                                    <option value="B.ARCH(New)">B.ARCH(New)</option>
                                    <option value="B.ARCH(Old)">B.ARCH(Old)</option>
                                    <option value="B.OPTM(New)">B.OPTM(New)</option>
                                    <option value="B.OPTM(Old)">B.OPTM(Old)</option>
                                    <option value="B.PHARM(New)">B.PHARM(New)</option>
                                    <option value="B.PHARM(Old)">B.PHARM(Old)</option>
                                    <option value="B.Sc in BAFM(New)">B.Sc in BAFM(New)</option>
                                    <option value="B.Sc in Behaviour Sc.(New)">B.Sc in Behaviour Sc.(New)</option>
                                    <option value="B.Sc in Biotechnology (New)">B.Sc in Biotechnology (New)</option>
                                    <option value="B.Sc in Biotechnology(Old)">B.Sc in Biotechnology(Old)</option>
                                    <option value="B.Sc in BMAG(O)">B.Sc in BMAG(O)</option>
                                    <option value="B.SC in Business Analytics(N)">B.SC in Business Analytics(N)</option>
                                    <option value="B.SC in BVFM">B.SC in BVFM</option>
                                    <option value="B.Sc in Culinary Science(N)">B.Sc in Culinary Science(N)</option>
                                    <option value="B.Sc in Cyber Security(Industry Induced)(New)">B.Sc in Cyber
                                        Security(Industry Induced)(New)
                                    </option>
                                    <option value="B.SC in Data Science (Industry Induced)(New)">B.SC in Data Science
                                        (Industry Induced)(New)
                                    </option>
                                    <option value="B.SC in Data Science(New)">B.SC in Data Science(New)</option>
                                    <option value="B.Sc in FDM(New)">B.Sc in FDM(New)</option>
                                    <option value="B.SC in FDM(Old)">B.SC in FDM(Old)</option>
                                    <option value="B.SC in Film &amp; Television(N)">B.SC in Film &amp; Television(N)
                                    </option>
                                    <option value="B.Sc In Gaming (New)">B.Sc In Gaming (New)</option>
                                    <option value="B.Sc in Gaming and Mobile Application (New)">B.Sc in Gaming and
                                        Mobile Application (New)
                                    </option>
                                    <option value="B.Sc in HHA(New)">B.Sc in HHA(New)</option>
                                    <option value="B.SC in Interior Design(New)">B.SC in Interior Design(New)</option>
                                    <option value="B.SC in MAGD (New)">B.SC in MAGD (New)</option>
                                    <option value="B.SC in MAGD (Old)">B.SC in MAGD (Old)</option>
                                    <option value="B.Sc in Media Science and Film Making(New)">B.Sc in Media Science and
                                        Film Making(New)
                                    </option>
                                    <option value="B.SC in Medical Lab Tech(N)">B.SC in Medical Lab Tech(N)</option>
                                    <option value="B.Sc in Microbiology(Old)">B.Sc in Microbiology(Old)</option>
                                    <option value="B.Sc in Molecular Biology (New)">B.Sc in Molecular Biology (New)
                                    </option>
                                    <option value="B.SC in SFDM (New)">B.SC in SFDM (New)</option>
                                    <option value="B.SC in Yoga (New)">B.SC in Yoga (New)</option>
                                    <option value="B.Sc. in Behaviour Science and Applied Psychology">B.Sc. in Behaviour
                                        Science and Applied Psychology
                                    </option>
                                    <option value="B.Sc. in Genetics (H) (Old)">B.Sc. in Genetics (H) (Old)</option>
                                    <option value="B.Sc. in Genetics (New)">B.Sc. in Genetics (New)</option>
                                    <option value="B.Sc. in Media Science (New)">B.Sc. in Media Science (New)</option>
                                    <option value="B.Sc. in Microbiology(New)">B.Sc. in Microbiology(New)</option>
                                    <option value="B.Sc. In Molecular Biology (Old)">B.Sc. In Molecular Biology (Old)
                                    </option>
                                    <option value="B.TECH(New)">B.TECH(New)</option>
                                    <option value="B.TECH(Old)">B.TECH(Old)</option>
                                    <option value="Batchelor in Media Science (Old)">Batchelor in Media Science (Old)
                                    </option>
                                    <option value="BBA in  Global Business(New)">BBA in Global Business(New)</option>
                                    <option value="BBA in Entreprenuership(N)">BBA in Entreprenuership(N)</option>
                                    <option value="BBA in HM(New)">BBA in HM(New)</option>
                                    <option value="BBA in Real Estate Management(New)">BBA in Real Estate
                                        Management(New)
                                    </option>
                                    <option value="BBA(H)(Old)">BBA(H)(Old)</option>
                                    <option value="BBA(New)">BBA(New)</option>
                                    <option value="BCA(New)">BCA(New)</option>
                                    <option value="BCA(Old)">BCA(Old)</option>
                                    <option value="BHMCT(New)">BHMCT(New)</option>
                                    <option value="BHMCT(Old)">BHMCT(Old)</option>
                                    <option value="BHSM">BHSM</option>
                                    <option value="BIRM (Old)">BIRM (Old)</option>
                                    <option value="BME (New)">BME (New)</option>
                                    <option value="BME (Old)">BME (Old)</option>
                                    <option value="BMS ( Pharm Mgmt.)">BMS ( Pharm Mgmt.)</option>
                                    <option value="BNS(New)">BNS(New)</option>
                                    <option value="BNS(Old)">BNS(Old)</option>
                                    <option value="BSCM(New)">BSCM(New)</option>
                                    <option value="BSCM(Old)">BSCM(Old)</option>
                                    <option value="BSM(New)">BSM(New)</option>
                                    <option value="BSM(Old)">BSM(Old)</option>
                                    <option value="BT (New)">BT (New)</option>
                                    <option value="BT (Old)">BT (Old)</option>
                                    <option value="BTTM(New)">BTTM(New)</option>
                                    <option value="BTTM(Old)">BTTM(Old)</option>
                                    <option value="CE &amp; EVM SC.(New)">CE &amp; EVM SC.(New)</option>
                                    <option value="CE &amp; EVM SC.(Old)">CE &amp; EVM SC.(Old)</option>
                                    <option value="CE (New)">CE (New)</option>
                                    <option value="CE (Old)">CE (Old)</option>
                                    <option value="CHE (New)">CHE (New)</option>
                                    <option value="CHE (Old)">CHE (Old)</option>
                                    <option value="CSE (New)">CSE (New)</option>
                                    <option value="CSE (Old)">CSE (Old)</option>
                                    <option value="ECE (New)">ECE (New)</option>
                                    <option value="ECE (Old)">ECE (Old)</option>
                                    <option value="EE (New)">EE (New)</option>
                                    <option value="EE(Old)">EE(Old)</option>
                                    <option value="EEE (New)">EEE (New)</option>
                                    <option value="EEE (Old)">EEE (Old)</option>
                                    <option value="FT (New)">FT (New)</option>
                                    <option value="FT (Old)">FT (Old)</option>
                                    <option value="HM(HOSPITAL)(New)">HM(HOSPITAL)(New)</option>
                                    <option value="HM(HOSPITAL)(Old)">HM(HOSPITAL)(Old)</option>
                                    <option value="ICE (New)">ICE (New)</option>
                                    <option value="ICE (Old)">ICE (Old)</option>
                                    <option value="IT (New)">IT (New)</option>
                                    <option value="IT (Old)">IT (Old)</option>
                                    <option value="LT (New)">LT (New)</option>
                                    <option value="LT(Old)">LT(Old)</option>
                                    <option value="MBA(N)-FT">MBA(N)-FT</option>
                                    <option value="MBA(N)-PT">MBA(N)-PT</option>
                                    <option value="MBA(O)-FT">MBA(O)-FT</option>
                                    <option value="MBA(O)-PT">MBA(O)-PT</option>
                                    <option value="MCA(New)">MCA(New)</option>
                                    <option value="ME (New)">ME (New)</option>
                                    <option value="ME (Old)">ME (Old)</option>
                                    <option value="PE (Old)">PE (Old)</option>
                                    <option value="PWE (Old)">PWE (Old)</option>
                                    <option value="TT (New)">TT (New)</option>
                                    <option value="TT (Old)">TT (Old)</option>
                                </select>
                    </div>
                     <div class="form-group">

                                <select id="SEMCODE" class="form-control required js-example-basic-single"
                                        name="SEMCODE">
                                    <option selected="selected" value="">Select Semester</option>
                                    <option value="1">SEM-1</option>
                                    <option value="3">SEM-3</option>
                                    <option value="5">SEM-5</option>
                                    <option value="7">SEM-7</option>
                                </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>


                </form>

            </div>
        </div>
        <div class="col-md-2">

        </div>

    </div>
</div>
{% endblock %}

