body{
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 60px;
  font-size:14px;
}

.navbar{
font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  padding-left: auto;
}

.container{
    padding-top: 30px;
}

.image-container{
	background-color: #F2F2F2;
	margin:auto;
	max-height:100%

}
.images{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width:100%;
}

.result-box{
    background: gray;
    height:100px;


}

.form-container{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    color: black;

}

.form-container h3{
    color: black;
    font-weight: 700;
    margin-bottom: 1rem;
}

.form-container p{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.result-form{
    display: grid;
    width: 80%;
    height: 20vh;
}

.result-form input{
	background: #F2F2F2;
    border: none;
}

.result-form select{
    background: #F2F2F2;
    border: none;

}

.result-form button{
	width: 100%;
}

.result-form textarea{
    background: #F2F2F2;

}

@media (max-width: 576px) {
    .result-form{
        width:100% !important;
        

    }
}
@media (max-width: 576px) {
    .container{
        max-width:100% !important;


    }
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.row{
	margin: auto;
}

.card-body {
	border: 1px solid #ddd;
	margin: 10px 0;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
	box-shadow: 0 2px 2px #ccc;
}
.column{
	/*background: red;*/
	height:50px;
	width:auto;
	border-right: 1px solid #ddd;

}
.column2{
	/*background: yellow;*/
	height:50px;
	width:auto;
	border-right: 1px solid #ddd;

}
.column3{
	/*background: green;*/
	height:50px;
	width:auto;
}
hr{
	padding: 0px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

.sem_header {
	padding: 10px 0;
	background: #ddd;
	width: 100%;
	display: inline-block;
	height:30px;
}
.sem_header .sem_class,
	.sem_header .sem_label {
		display: block;
		margin: 0
			}
.sem_header {
		padding: 0!important
	}
.sem_label{
	color: white;
}
.page-footer{
    bottom:0;
    position:absolute;
    width:100%;
    height:60px;
    clear:both;
    padding:10px;


}
.page-footer .container-fluid .row{
    color:white;
    align-content:center;

}
.page-footer a{
    text-decoration:none;
    color:white;
}
.css-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}

